a.tip1 {
  position: relative;
  text-decoration: none;
    cursor: pointer;
}
a.tip1 span {display: none;}
a.tip1:hover span {
  display: block;
  position: absolute; 
  padding: 1.25em;
  padding-bottom: 1000em;
  content: attr(title);
  min-width: 120px;
  top: 30px;
  width: 350px;
  left: -115px;
  height: auto;
  background: #95ff95;
  color: #000;
  font-size: 11px;
  font-family: "Arial", Gadget, sans-serif;
  font-style: none;
}
